.testimonial {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.testimonial .heading p {
  color: #838383;
  max-width: 400px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
.testimonial-list {
  display: flex;
  flex-direction: column;
}
.testimonial-item {
  padding: 2rem 2.5rem;
  background-color: #fff;
  box-shadow: 0.125rem 0.25rem 5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1.75rem;
  width: 100%;
}

.testimonial-item img {
  border-radius: 50%;
  width: 110px;
  margin-bottom: 1.5rem;
  position: relative;
}
.testimonial-item .picture {
  position: relative;
  margin: auto;
  width: fit-content;
}
.testimonial-item .picture::after {
  display: block;
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  background-image: url(../image/quot.svg);
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 15px;
  right: 0;
  z-index: 2;
}
.testimonial-item h4 {
  margin: 0;
  font-size: 1.25rem;
}
.testimonial-item p.job {
  color: #9b9b9b;
  margin-top: .25rem;
}
.testimonial-item p.comment {
  color: #5c5c5c;
  margin-bottom: 50px;
}
.testimonial-item .line {
  width: 75px;
  height: 1.75px;
  background-color: #4182fa;
  margin: auto;
}
@media (min-width:1023px) {
  .testimonial-list {
    flex-direction: row;
  }
  .testimonial-item {
    margin: 0 1rem;
    padding: 3rem 2.5rem;
  }
  .testimonial-item:nth-child(2) {
  transform: scale(1.1);
}
}
@media (min-width:1200px) {
  .testimonial .heading h1 {
    font-size: 2.5rem;
  }
  .testimonial-item {
    margin: 0 1.25rem;
    padding: 4rem 2.5rem;
  }
}
@media (min-width:1400px) {
    .testimonial .heading h1 {
    font-size: 3rem;
  }
  .testimonial-list {
    flex-direction: row;
  }
  .testimonial-item {
    margin: 0 2rem;
    padding: 5rem 2.5rem;
  }
}